<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1>{{ book.title }}</h1>
    </div>
    <div class="col-md-6">
      <a class="btn btn-danger" href="/books"><span aria-hidden="true" class="glyphicon glyphicon-arrow-left"></span> Back to list</a>
    </div>
  </div>

  <dl class="list">
    <dt>ISBN</dt>
    <dd>{{ book.isbn }}</dd>
    <dt>Author</dt>
    <dd>{{ book.author }}</dd>
    <dt>Publish Year</dt>
    <dd>{{ book.published_year }}</dd>
    <dt>Publisher</dt>
    <dd>{{ book.publisher }}</dd>
    <dt>Update Date</dt>
    <dd>{{ book.updated_date | date:'short' }}</dd>
  </dl>
</div>
<div class="row">
  <div class="col-md-12">
    <a [routerLink]="['/book-edit', book._id]" class="btn btn-success">EDIT</a>
    <button class="btn btn-danger" type="button" (click)="deleteBook(book._id)">DELETE</button>
  </div>
</div>
